<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<div style="position:fixed ; left: 7%;top: 100px;background-color: ;">
    <h1>Hi, {{user}}!</h1>
</div>
<div style="position:relative; height: auto; width:500px; margin-left:auto; margin-right:auto; top: 125px; background-color: silver; border-radius:10px;">
    <div style="float:center; padding-top:3%;padding-bottom:3%; padding-right:10%; padding-left:10%;">
    <body>
    <ol>
    {% for tasks in tasks %}
    <li><h2>{{tasks.DBid}}</h2>
        <div style="width:100%;font-size:20 ;"><strong>{{tasks.title}}</strong><div style="float:right;">{{tasks.date}}</div></div>
        <!--
        <input type="submit" name="btnEdit" value="Edit" style="float: right;">&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="submit" name="btnDel2" value="Delete2" style="float: right;">
        -->
        <h5 style="text-align:left;">{{tasks.description}}</h5>

    </li>
    {% endfor %}
    </ol>
    <hr>

    <form action="" method='post' name='NewEntry'>
        {{form_cr.hidden_tag()}}
        {{form_cr.title(placeholder = "Title", size=40)}}
                {% for error in form_cr.errors.title %}
                <span style="color: red;">[{{error}}]</span>
                {% endfor %}<br>

        {{form_cr.entry(placeholder = "Description", size=40)}}
                {% for error in form_cr.errors.entry %}
                <span style="color: red;">[{{error}}]</span>
                {% endfor %}<br>


        <input type="submit" name = "btnCreate" value="Create">

    </form>
    <hr>
    <form action="" method='post' name='DeleteEntry'>
        {{form_del.hidden_tag()}}
        {{form_del.delete(placeholder = "ID Number", size=40)}}
                {% for error in form_del.errors.delete %}
                <span style="color: red;">[{{error}}]</span>
                {% endfor %}<br>
        <input type="submit" name = "btnDelete" value="Delete">
    </form>


    </div>

            {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
        {% for message in messages %}

            <font size="4" color="red">{{ message }} </font>
        {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
</div>
{% endblock %}
