<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<div style="position:relative; height:280px; width:325px; margin-left:auto; margin-right:auto; top: 125px; background-color: silver; border-radius:25px;">
    <div style="float:center; padding-top:3%; padding-right:auto; padding-left:auto;">
    <body>
        <h1><center>Please, Sign In!</center></h1>
        <form action="" method="post" name="login">
            {{form.hidden_tag()}}

            <center><p>
                Please enter your Username&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>
                {{form.UserName(size=40)}}
                {% for error in form.errors.UserName %}
                <span style="color: red;">[{{error}}]</span>
                {% endfor %}<br>
                <!--
                |{% for pr in providers %}
                <a href="javascript:set_openid('{{pr.url}}', '{{pr.name}}');">{{pr.name}}</a> |
                {% endfor %}-->
            </p>

            <p>
                Please enter your Password&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>
                {{form.Password(size=40)}}
                {% for error in form.errors.Password %}
                <span style="color: red;">[{{error}}]</span>
                {% endfor %}<br>
            </p>
            <p>
            <!--
            {{form.remember_me}} Remember Me&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            -->
            <input type="submit" name="btnSubmit" value="Sign In" >

            </p>




        </form>
        </center>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
        {% for message in messages %}

            <font size="4" color="red">{{ message }} </font>
        {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

    </body>
    </div>
</div>
{% endblock %}